body
{
    background:#2E3440;
    font-family: 'Cascadia-Code';

}



#btn1
{
    position: static;
    background: #5e81ac;
    border-color: #5e81ac;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 15px;
    min-width: 300px;
    text-align: center;
}


#btn2
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 15px;
    min-width: 300px;
    text-align: center;
}
#btn3
{
    position: static;
    background: #5e81ac;
    border-color: #5e81ac;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn4
{
    position: static;
    background: #5e81ac;
    border-color: #5e81ac;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn5
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn6
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn7
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn8
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn9
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#btn10
{
    position: static;
    background: #8fbcbb;
    border-color: #8fbcbb;
    border-radius: 10px;
    min-height: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    min-width: 300px;
}
#submit-btn1
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}

#submit-btn2
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}

#submit-btn3
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}

#submit-btn4
 {
     min-width: 60px;
     background-color: #D8DEE9;
     border-radius: 6px;
     text-align: center;
 }

#submit-btn5
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}

#submit-btn6
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}
#submit-btn7
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}
#submit-btn8
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}
#submit-btn9
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}
#submit-btn10
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
}
#output-field
{
    border-radius: 6px;
    background-color: #eceff4;
    max-width: 150px;
    text-align: center;
}

#output-field2
{
    border-radius: 6px;
    background-color: #eceff4;
    max-width: 150px;
    text-align: center;
}

#output-field3
{
    border-radius: 6px;
    background-color: #eceff4;
    max-width: 150px;
    text-align: center;
}
#output-field4
{
    border-radius: 6px;
    background-color: #eceff4;
    max-width: 150px;
    text-align: center;
}

#output-field5
{
    border-radius: 6px;
    background-color: #eceff4;
    max-width: 150px;
    text-align: center;
}

#camera-btn
{
    min-width: 60px;
    background-color: #D8DEE9;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    margin-top: 15px;
    left: 7.5%;
}


.container {
    display: inline-block;

    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #D8DEE9;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1
{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3
{
    transform: translate(0, -11px) rotate(45deg);
}

.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius: 15px;
}

.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icons
{
    color: #D8DEE9;
    background-position-x: 1000px;
    background-position-y: 100px;
    position: relative ;
    left: 300px;
    top: -30px;
    scale: 175%;
}

.accountName
{
    color: #D8DEE9;
    position: absolute ;
    left: 200px;
    top: -0.8%
  /*  left: 215px;
    top: -80px; */
}

.regNo
{
    color: #D8DEE9;
    position: absolute ;
    left: 200px;
    top: 2%;
  /*  left: 208px;
    top: -90px;*/
    font-size: 14px;

}

.payTitle
{
    color: #D8DEE9;
    font-size: 35px;
    position: absolute;
    top: 7px;
    left: 90px;
}

.abtTitle
{
    color: #D8DEE9;
    font-size: 35px;
    position: absolute;
    top: 7px;
    left: 140px;
}